


* {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}




.calculator {
  background: #e3cff3;
  border: 2px solid black;
  padding: 25px;
  border-radius: 1px;
  height: 550px;
  width: 400px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}



.display {
  background: lightgray;
  border: 2px solid black;
  font-size: 50px;
  margin-bottom: 10px;
  padding: 1px;
  height: 25%; 
  display: flex;
  align-items: center;
  justify-content: center;
}




.keys {
  display: flex;
  flex-direction: column;
}

button {
  background-color: yellow;
  font-size: 20px; /* Adjust button text size */
  font-weight: bold;
  padding: 20px; /* Adjust button padding */
  width: 100px;

}


#clearButton {
  background: orange;
  width: 200px;
  
}






#equalButton{
  background: lightblue;
  border: 1px solid blue;
}

#division{
  font-size: 24px;
  display: flex;
  justify-content: center;
}



.firstRow{
  border: 3px solid black;
  display: flex;

}

.secondRow{
  border: 3px solid black;
  display: flex;
  justify-content: space-evenly;
}

.thirdRow{
  border: 3px solid black;
  display: flex;
  justify-content: space-evenly;
}

.fourthRow{
  border: 3px solid black;
  display: flex;
  
}

.fifthRow{
  border: 3px solid black;
  display: flex;
  justify-content: space-evenly;
}

