


* {
  font-family: 'Times New Roman', Times, serif;
}






.calculator {
  background: #e3cff3;
  border: 2px solid black;
  padding: 40px;
  height: 580px;
  width: 400px; 
  display: flex;
  flex-direction: column;
}



.display {
  background: rgb(154, 152, 152);
  border: 2px solid black;
  font-size: 50px;
  margin-bottom: 15px;
  height: 30%; 
  display: flex;
  justify-content: center;
  align-items: center;
}




.keys {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 15px;
}

button {
  background-color: lightgrey;
  font-size: 20px; 
  font-weight: bold;
  padding: 20px; 
  width: 100px;
  display: flex;
  justify-content: center;
}

.rowfour {
  width: 93px;
  padding: 20px;
}


#clearButton {
  background: orange;
  width: 215px;
}



#equalButton{
  background: lightblue;
  border: 1px solid blue;
}

#division{
  font-size: 24px;
  display: flex;
  justify-content: center;
}

#addition{
  position: absolute;
  height: 150px;
  width: 93px;
  left: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
}




.firstRow{
  display: flex;
  gap: 10px;

}

.secondRow{
  display: flex;
  gap: 10px;
}

.thirdRow{
  display: flex;
  gap: 10px;
}

.fourthRow{
  display: flex;
  justify-content: flex-start;
  gap: 10px;

  
}

.fifthRow{
  display: flex;
  gap: 10px;
}

